.search
{
    padding: 20px;
    /* color: gray; */
    color: rgb(138, 138, 138);
    min-width: 25px;
    text-align: center;
    position: absolute;
    
    right: 135; /* Đặt vị trí sang phải */
    padding-top: 6;/*them*/
}
